.menu-container{
  position: absolute;
  display: flex;
  flex-direction: row;
}

.menu-items-container{
  border: 1px solid lightgray;
}
.menu-item{
  padding: 8px 16px 8px 16px;
}

.menu-item:hover{
  background-color: deepskyblue;
  color: white;
}
