<div class="menu-container">
  <div *ngIf="!!menuName()" class="menu-title" (click)="showMenu($event)">
    <h3>
      <i class="bi bi-list"></i>
    </h3>
  </div>
  <div class="menu-items-container" [ngClass]="{
              'hide-menu': !menuVisible()
              }">
    @for(eachItem of items(); track eachItem){
    <div class="menu-item" (click)="itemSelected(eachItem)">
      {{eachItem.name}}
    </div>
    <div class="menu-item" (click)="itemSelected(eachItem)">
      {{eachItem.name}}
    </div>
    <div class="menu-item" (click)="itemSelected(eachItem)">
      {{eachItem.name}}
    </div>
    <div class="menu-item" (click)="itemSelected(eachItem)">
      {{eachItem.name}}
    </div>
    }
  </div>
</div>
