<div class="db-table-container" [ngStyle]="{'grid-template-columns': columnStyle}">
  <div class="db-table-header-item db-table-data" *ngFor="let eachItem of (displayHeaders.length?displayHeaders:headers); index as i" (click)=sortBy(i)>
    {{eachItem}}
  </div>
  @for(eachItem of dataListObservable|async; track eachItem){
    @if(isArray(eachItem)){
      @if(isOptionArray(eachItem)) {

      } @else {
      <div class="db-table-data">
        {{eachItem.length}}
      </div>
      }
    }
    @else{
    <div class="db-table-data">
      {{eachItem}}
    </div>
    }
  }
</div>
