<h1>schema details</h1>
<button (click)="save()"> save </button>
<div class="schema-details-container">
  <div class="schema-detail">
    <div class="detail-label">
      schema name
    </div>
    <input type="text" [(ngModel)]="schemaName"/>
  </div>
  <div class="schema-detail">
    <div class="detail-label">
      singleton?
    </div>
    <input type="checkbox" [(ngModel)]="singleton"/>
  </div>
</div>
<h1>schema editor</h1>
<div class="schema-editor-container">
  <div class="fields-editor">
    <div class="field-name-entry">
      <div class="field-label">
        field name
      </div>
      <input type="text" [(ngModel)]="fieldName" (keyup.enter)="submitFieldName()"/>
    </div>
    <div cdkDropList [cdkDropListData]="fieldList()" class="field-types-container" (cdkDropListDropped)="drop($event)">
      <div cdkDrag [cdkDragData]="each" class="field-type" *ngFor="let each of fieldList(); index as i">
        <div *ngIf="!each.editingName" class="field-name" (dblclick)="showNameEditor(each)">
          {{each.name}}
        </div>
        <input *ngIf="each.editingName" type="text" [(ngModel)]="each.name" (keyup.enter)="hideNameEditor(each)"/>
        <input type="text" [(ngModel)]="each.type"/>
        <div class="control-buttons">
          <button (click)="deleteField(each)"> delete </button>
        </div>
      </div>
    </div>
  </div>
  <div class="report-preview-container">
    <div class="report-preview-label">
  here's the preview!
    </div>
  <div class="preview-content">
  <app-report-editor [hideSaveButton]="true" [(report)]="constructReport"></app-report-editor>
  </div>
  </div>
</div>
