
.fields-editor{
  display: grid;
  grid-auto-flow: row;
}

.schema-editor-container{
  display: grid;
  grid-auto-flow: column;
}

.field-name-entry {
  display: grid;
  grid-auto-flow: column;
}

.field-type{
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.preview-item{
  display: grid;
  grid-template-columns: 40% 40%;
}

.control-buttons{
  display: grid;
  grid-auto-flow: column;
}

.up-down-buttons{
  display: grid;
  grid-auto-flow: row;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview	{
  display: none;
}
