<div class="schema-preview">

    <div class="preview-container">
      <div class="preview-item" *ngFor="let each of reportData?.fields">
        <label for="{{each.name}}" class="form-label">{{each.name}}</label>
        <!-- <div class="preview-name">
          {{each.name}}
        </div> -->
        <input type="{{each.type}}" class="form-control"  [(ngModel)]="each.value"/>
      </div>
    </div>
    <button *ngIf="!hideSaveButton()" class="btn btn-success" (click)="save()"> save </button> &nbsp;
    <button *ngIf="!hideSaveButton()" type="button" class="btn btn-outline-secondary" (click)="cancel()">cancel</button>
  </div>
